@import url('https://fonts.googleapis.com/css?family=Lato');

body {
  font-family: "Lato", sans-serif;
}

/*Alignment classes*/
.align-right {
  text-align: right;
}

.align-center {
  text-align: center;
}

.logo {
  margin-top: 20px;
  width: 100px;
}

.separator {
  border-top: 3px solid #7d97ad;
}
