body {
  font-family: "Lato", sans-serif;
  color: #2d3c49;
}

.row {
  margin: 0;
}

a {
  text-decoration: none;
  color: #7d97ad;
}

a:hover {
  text-decoration: none;
  color: #2d3c49;

}

.navbar {
  margin: 0;
  border-radius: 0;
  background-color: #2d3c49;
}

.text-muted {
  color: #7d97ad;
}

.text-upper {
  text-transform: uppercase;
}

.title-main {
  font-weight: 100;
  font-size: 4em;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.title-project {
  font-size: 3em;
  letter-spacing: 1px;
}

.featured-work {
  margin-top: 35px;
  margin-bottom: 20px;
}

.logo {
  margin-top: 20px;
  width: 100px;
}

.separator {
  border-top: 3px solid #7d97ad;
}

.project-descr {
  margin: 10px 0 30px;
}

/*Alignment classes*/
.align-right {
  text-align: right;
}

.align-center {
  text-align: center;
}

.align-left {
  text-align: left;
}

/*Footer*/
.footer {
  background-color: #2d3c49;
  color: #fff;
  margin: 0;
}

.copyright {
  margin: 20px 0;
}

.icon.circle {
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    border: 0;
    border-radius: 100%;
    font-size: 1.20em;
    height: 2.20em;
    line-height: 2.25em;
    text-align: center;
    text-decoration: none;
    width: 2.20em;
    margin: 0.8em 0.4em 0;
}

.icon {
    text-decoration: none;
    position: relative;
}

.icon.circle.fa-linkedin:hover {
    background: #4f90be;
}

.icon.circle.fa-linkedin {
    background: #006fa6;
    color: #fff;
}

.icon.circle.fa-github:hover {
    background: #d19e6f;
}

.icon.circle.fa-github {
    background: #d26911;
    color: #fff;
}

.icon.circle.fa-facebook:hover {
    background: #829bc9;
}

.icon.circle.fa-facebook {
    background: #365899;
    color: #fff;
}

.icon.circle:hover {
    top: -0.2em;
}

.icon>.label {
    display: none;
}

.icon:before {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-transform: none !important;
}

.fa-linkedin:before {
    content: "\f0e1";
}

.fa-facebook-f:before,
.fa-facebook:before {
    content: "\f09a";
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

@media screen and (max-width: 600px) {
    .title-main {
        font-size: 30px;
    }

    .logo {
        width: 60px;
    }

    .role {
      font-size: 16px;
    }

    .featured-work {
      font-size: 25px;
    }

    .title-project {
      font-size: 2.5em;
    }
}

@media screen and (min-width: 300px) and (max-width: 650px) {
  .copyright {
    font-size: 12px;
  }

  .icon.circle {
      border: 0;
      border-radius: 100%;
      display: inline-block;
      font-size: 0.75em;
      height: 1.40em;
      line-height: 1.4em;
      text-align: center;
      text-decoration: none;
      width: 1.40em;
      margin: 1em 0.2em 0;
  }
}

@media screen and (min-width: 700px) {
  .copyright {
    font-size: 14px;
  }

  .icon.circle {
      border: 0;
      border-radius: 100%;
      display: inline-block;
      font-size: 1.20em;
      height: 2.20em;
      line-height: 2.25em;
      text-align: center;
      text-decoration: none;
      width: 2.20em;
      margin: 0.8em 0.4em 0;
  }
}
